<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>Laptop</title>
	<style type="text/css">
		.form-group.invalid {
			border-color: #f33a58;
		  }
		  
		  .form-group.invalid .form-Message {
			color: #f33a58;
		  }
	</style>
</head>
<body>
	<div class="row">
		<h1>New Book</h1>
	</div>
	<form id="form1" th:object="${book}" th:action="(${errorMessageName} == null) ? @{addBook/{name}(name = ${-1})} " th:method="POST">
		
		<div class = "form-group">
			<lable>Name: </lable>
			<input id = "name" type ="text" th:text="${errorMessageName}" name="name" th:value = "${book.name}" ><br/>
			<span class = "form-Message"  style="color:#f33a58;"></span>
		</div>
		<div class = "form-group">
			<lable>Author:</lable>
			<input  id = "author" type ="text" name="author" th:value = "${book.author}" ><br/>
			<span class = "form-Message" ></span>
		</div>
		<div class = "form-group">
			<lable>Detail:</lable>
			<input  id = "detail" type ="text" name="detail" th:value = "${book.detail}" ><br/>
			<span class = "form-Message" ></span>
		</div>
		<div class = "form-group">
			<lable>Date:</lable>
			<input  id = "date" type ="date" name="date" th:value = "${user.date}" ><br/>
			<span class = "form-Message" ></span>
		</div>
		<div class = "form-group">
			<lable>Pagenumber:</lable>
			<input  id = "pagenumber" type ="number" name="pagenumber" th:value = "${book.pagenumber}" ><br/>
			<span class = "form-Message" ></span>
		</div>
		<div class = "form-group">
			<lable>category:</lable>
			<input  id = "category" type ="text" name="category" th:value = "${book.category}" ><br/>
			<span class = "form-Message" ></span>
		</div>
		<div class = "form-group">
			<lable>Image:</lable>
			<input  id = "image" type ="text" name="image" th:value = "${book.image}" ><br/>
			<span class = "form-Message" ></span>
		</div>
		
		
		
		<input type="submit" value = "Save book">
	</form>

</body>
</html>
