<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>Book</title>
	<style type="text/css">
		.form-group.invalid {
			border-color: #f33a58;
		  }
		  
		  .form-group.invalid .form-Message {
			color: #f33a58;
		  }
	</style>
</head>
<body>
	<div class="row">
		<h1>Book</h1>
	</div>
	<form id="form1" th:object="${book}" th:action="@{update/{id}(id = ${book.id})}" th:method="PUT">
		<div class = "form-group">
			<lable>Id:</lable>
			<input type = "text" th:value="${id}" name = "id" id="id" disabled="disabled" ><br/>
			<span class = "form-Message" ></span>
		</div>
		<div class = "form-group">
			<lable>Name: </lable>
			<input id = "name" type ="text" name="name" th:value = "${book.name}"><br/>
			<span class = "form-Message" ></span>
		</div>
		<div class = "form-group">
			<lable>Author:</lable>
			<input  id = "author" type ="text" name="author" th:value = "${book.author}" ><br/>
			<span class = "form-Message" ></span>
		</div>
		<div class = "form-group">
			<lable>Detail:</lable>
			<input  id = "detail" type ="text" name="detail" th:value = "${book.detail}" ><br/>
			<span class = "form-Message" ></span>
		</div>
		<div class = "form-group">
			<lable>Date:</lable>
			<input  id = "date" type ="date" name="date" th:value = "${book.date}" ><br/>
			<span class = "form-Message" ></span>
		</div>
		Pagenumber: <input type = "number" name="paid" th:checked="${book.pagenumber}" > <br/>
		<div class = "form-group">
			<lable>Category:</lable>
			<input  id = "category" type ="text" name="category" th:value = "${book.category}" ><br/>
			<span class = "form-Message" ></span>
		</div>
		<div class = "form-group">
			<lable>Image:</lable>
			<input  id = "image" type ="text" name="image" th:value = "${book.image}" ><br/>
			<span class = "form-Message" ></span>
		</div>
		<input type="submit" value = "Save Book">
	</form>
	
	
</body>
</html>
